<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back-page">
        <a href="index.html"><img src="static\images\arrow-symbol.png"></a>
    </div>
    <div class="centered">
        <div class="update">
            <h3>v0.1 | Feb. 22, 2023</h3>
            <ul>
                <li>Initial "Twitter" design finalized</li>
                <li>Initial UI/input reader</li>
            </ul>
        </div>
    </div>
</body>
</html>